@import "config";
@import "keyframes";
@import "media-query";

body {
  @include flexCenter(column, center, center);
  min-height: 100vh;
  background-color: aliceblue;
}

main {
  @include flexCenter(column, center);
}

.card {
  @include flexCenter(column, center, center);
  border-radius: $radius;
  padding: 1rem 1.5rem;

  &--main {
    background-color: color($neutral, "white");
    width: 480px;
    border-radius: $radius;
    padding-bottom: 0;
  }

  &--success {
    position: absolute;
    top: 1%;
    background-color: color($neutral, "grey");
    align-items: start;
    color: white;
    gap: 0.5rem;
    width: auto;

    &__indicator {
      @include flexCenter(row, start, start);
      gap: 0.5rem;
    }

    &__check {
      width: 16px;
    }

    &__msg {
      font-size: 0.8rem;
      font-weight: bold;
    }

    &__msg-container {
      &__msg {
        font-size: 0.7rem;
      }
    }
  }
}

.form__title,
.row--one input,
.form {
  width: 100%;
}

.form__title {
  margin-bottom: 1rem
}

.row {
  @include flexCenter(column, none, none);
  margin-bottom: 1.5rem;
  gap: 0.3rem;

  &--one {
    flex-direction: row;
    gap: 1rem;

    input {
      margin-top: 0.5rem;
      display: block;
    }

    &__first-name,
    &__last-name {
      width: 100%;
    }
  }

  &--five {
    row-gap: 0.5rem;

    &__consent {
      cursor: pointer;
    }
  }

  &--three__radio {
    @include flexCenter(row, none, none);
    gap: 0.7rem;
    margin-bottom: 0.2rem;
  }
}

input,
.radio,
.submit-button,
textarea {
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid color($neutral, "light-grey");
}

.row--six__submit-button {
  border: none;
  border-radius: $radius;
  background-color: color($primary, "green");
  color: color($neutral, "white");
  padding: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: hsl(169, 82%, 18%);
  }
}

.radio {
  font-size: 0.9rem;
  padding: 0.8rem 0.5rem;
  padding-left: 1rem;
  width: 100%;

  &__btn {
    @include flexCenter(row, none, none);
    gap: 0.5rem;
    cursor: pointer;
  }
}

input[type="radio"] {
  accent-color: hsl(169, 82%, 27%);
  cursor: pointer;
}

input[type="checkbox"] {
  @extend input[type="radio"];
  width: 18px;
}

textarea {
  outline: none;
  resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}

label {
  font-size: 0.8rem;
  color: hsl(187, 24%, 22%);
}

legend {
  @extend label;
  margin-bottom: 0.5rem;
}

fieldset {
  border: none;
}

.green-color {
  background-color: color($primary, "light-green");
}

span {
  color: color($primary, "red");
  font-size: 0.8rem;
}

.hide {
  display: none;
  height: 0;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  top: 97%;

  & a {
    color: hsl(228, 45%, 44%);
  }
}

@include responsive;